# Node modules
proxy-server/node_modules/

# Flutter
patient_summary_flutter/.dart_tool/
patient_summary_flutter/.flutter-plugins
patient_summary_flutter/.flutter-plugins-dependencies
patient_summary_flutter/.packages
# Keep build/web for deployment, ignore other platforms
patient_summary_flutter/build/windows/
patient_summary_flutter/build/linux/
patient_summary_flutter/build/macos/
patient_summary_flutter/build/ios/
patient_summary_flutter/build/android/
patient_summary_flutter/.pub-cache/
patient_summary_flutter/.pub/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
